<div class="card">
  <form @submit.prevent="login">
    <div class="card-body">
      <h2 class="card-title text-center">{{ $t('login.title') }}</h2>

      <VInput title="login.label" :model="$v.model.login" />

      <VInput
        title="password.label"
        :model="$v.model.password"
        type="password"
      />
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-12">
          <btn class="btn-primary float-right" :text="$t('login.button')" />
        </div>
      </div>
    </div>
  </form>
</div>
